/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/.carmel
/.vscode
/.perl-version
/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/Frame-App-cgit-*

*.crt
*.pem
*.key

/etc
#!/etc/