/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/.carmel
/.vscode
/.perl-version
/carton.lock
/.carton/
/local/
/vendor

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE
b
/_build_params
/fatlib
MYMETA.*

/Frame-App-cgit-*

*.crt
*.pem
*.key
*ec_params
/etc
/bin
/run
#!/etc/

*.sock
._*
